<div class="contrainer">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.routledge.com/common/jackets/crclarge/978158488/9781584888970.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">C++</h5>
                          <p class="card-text">Image recognition has become an increasingly dynamic field with new and emerging civil and military applications in security, exploration, and robotics. Written by experts in fractal-based image and video compression, A Concise Introduction to Image Processing using C++ strengthens your knowledge of fundamentals principles in image acquisition, conservation, processing, and manipulation, allowing you to easily apply these techniques in real-world problems..</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51kM7CkgKWL._SX353_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">DATABASE</h5>
                          <p class="card-text">The Complete Book is ideal for Database Systems and Database Design and Application courses offered at the junior, senior and graduate levels in Computer Science departments. A basic understanding of algebraic expressions and laws, logic, basic data structure, OOP concepts, and programming environments is implied..</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/41fYBlpG-bL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">JAVA</h5>
                          <p class="card-text">Java is one of the most popular and widely used programming languages available. Most of the modern applications built around the world are made from the Java programming language.</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51sYoJ2Ys2L._SX367_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">SOFTWARE ENGINEERING</h5>
                          <p class="card-text">It is one of the best software development book which is divided into three parts. The first part talks about the principles, patterns, and practices of writing clean code. The second part covers various case studies of increasing complexity.</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/91RD+ZSBvhL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PYTHON</h5>
                          <p class="card-text">Python Web Programming is a practical introduction to building networked systems in the object-oriented framework of the Python language. </p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51vrHzkpt+L._SX382_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">PHP</h5>
                          <p class="card-text">PHP is a server-side programming language mainly used for web development and is also used as a general purpose programming language.</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/51KOyJfWhxL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">WEB DESIGNING</h5>
                          <p class="card-text">Key Features Design and create effective web pages Integrate graphics in web pages Integrate various tools and techniques like HTML, CSS, JavaScript, AngualarJS etc Design and edit margins using tools Embed the images in Web pages Description Book provides the technological development in the field of Web Designing and Publishing.</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51-NSM3P+kL._SX322_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">VALUE EDUCATION</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51Q+kt5ElnL._SX376_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">ENIVRONMENTAL STUDIES</h5>
                          <p class="card-text">The book - environment and Ecology by Vaishali Anand is designed and structured so as to develop a logical flow of the subject covering all the aspects of environment and Ecology relevant to the syllabus of UPSC examination</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51RM5Qek5QL._SX354_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">DIGITAL ELECTRONICS</h5>
                          <p class="card-text">1. Logic gates and circuit : Gates (OR, AND, NOR, NAND, XOR & XNOR), 2. Combinational Building Blocks : Multiplexes; Decoder; Encoder, 3. Memories : ROMs, PROMs, EPROMs, RAMs, Hard Disk, 4. Sequential Building Blocks : Flip-Flop (RS, D, JK, Master-slave & & T flip-flops), 5. Memory Organizatio</p>
                          <a href="#" class="btn btn-primary">Purchasing</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>